
<% if params[:my] %>

  <h2>Мои петиции</h2>
  <table class="table">
    <thead>
    <tr><td>Петиция</td></tr>
<% else %>
  <h2>Все петиции</h2>
  <table class="table">
    <thead>
      <tr>
        <td>Петиция</td>
        <td>Автор</td>
        <td>Голосов</td>
        <td>Дата создания</td>
      </tr>
   
<% end %>
  </thead>

<% @petitions.each do |d| %>
  <tr>
  <% if params[:my] %>
  <td><%=link_to d.title, d %></td>
  <td><%= d.user.first_name  %></td>
  <th><%= button_to 'Изменить', edit_petition_path(d), method: :get %> </th> 
  <th><%= button_to 'Удалить', petition_path(d), method: :delete %></th>
    <% else %>
  <td><%=link_to d.title, d %></td>
  <td><%= d.user.first_name  %></td>
  <td><%= label_tag @votes.where(petition_id: d.id).size %></td>
   <td><%= d.created_at.strftime("%m/%d/%y %I:%M") %></td>
</div>
  <% end %>
   
</tr>
<% end %>
</table>
