<tr>
  <th>Онлайн петиции нашего района</th>
  <th><%=link_to 'Зарегистрироваться', new_user_path %></th>
  <th><%=link_to 'Войти', new_user_path %></th>
 </tr>
<table>
   <h1>Петиция</h1>
  <td><%= @petition.title %></td>
<tr></tr>
  <td><%=  @petition.text %></td>
  <td><%=  %></td>

 

</table>

<br />