<!DOCTYPE html>
<html>
<head>
  <title>MyPetitions</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag "application" %>
 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="user_header">
    <tr>
  <th>Онлайн петиции нашего района</th>

  <% if current_user %>
   <th><%= current_user.email  %>
    <th><%=link_to "Выйти", logout_path %></th>
  <% else %>
  <th><%=link_to 'Зарегистрироваться', new_user_path %> |
   </th>
  <th><%=link_to 'Войти', login_path %></th>
  </tr>

  <% end %>


    </div>
    <% flash.each do |name, msg| %>
      <% content_tag :div, msg, id: "flash#{name}" %>
     <% end %>

    <%= yield %>

    <th><%=link_to 'Все петиции', petitions_path %></th>

    <th><%=link_to 'Создать петицию', new_petition_path %></th>

    <% if current_user %>
      <th><%=link_to 'Мои петиции', petitions_path(my: true) %></th>
    <% end %>
  </div>
  </body>

</html>
